@{
    ViewData["Title"] = "Projeto Teste de Asp.Net MVC";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Este projeto faz um CRUD completo de duas entidades: Empresa e Funcionário. O programa lista no botão de Deletar Empresa, a quantidade de Funcionários pertencentes à ela. Assim, automaticamente se uma Empresa for excluída, excluirá também os Funcionários pertencentes.</p>
