@{
    ViewData["Title"] = "Informações de Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    GRUPO SOITIC<br />
    Rua Paraná, 497<br />
    Bairro Funcionários<br />
    Cep: 37713-047<br />
    Poços de Caldas - MG<br />
    Telefone: 0800 707 5900<br />
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:Support@example.com">desenvolvimento11@soitic.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">www.soitic.com</a>
</address>
