@model projetoTeste.Models.Empresa

@{
    ViewData["Title"] = "Create";
}

<h2>Criar</h2>

<h4>Empresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeFantasia" class="control-label"></label>
                <input asp-for="NomeFantasia" class="form-control" />
                <span asp-validation-for="NomeFantasia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RazaoSocial" class="control-label"></label>
                <input asp-for="RazaoSocial" class="form-control" />
                <span asp-validation-for="RazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CNPJ" class="control-label"></label>
                <input asp-for="CNPJ" class="form-control" />
                <span asp-validation-for="CNPJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndRua" class="control-label"></label>
                <input asp-for="EndRua" class="form-control" />
                <span asp-validation-for="EndRua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndNumero" class="control-label"></label>
                <input asp-for="EndNumero" class="form-control" />
                <span asp-validation-for="EndNumero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndBairro" class="control-label"></label>
                <input asp-for="EndBairro" class="form-control" />
                <span asp-validation-for="EndBairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndCidade" class="control-label"></label>
                <input asp-for="EndCidade" class="form-control" />
                <span asp-validation-for="EndCidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndEstado" class="control-label"></label>
                <input asp-for="EndEstado" class="form-control" />
                <span asp-validation-for="EndEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndPais" class="control-label"></label>
                <input asp-for="EndPais" class="form-control" />
                <span asp-validation-for="EndPais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
